
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="bio-graph-heading">
        <font style="vertical-align: inherit;">
             <font style="vertical-align: inherit; font-size:x-large"><i class="icon-smile"></i>Hoşgeldiniz... </font>
            <br /><br />
            <font style="vertical-align: inherit;">
                @DateTime.Now.ToString("dd MMMMMMM yyyy ddddddddd, HH:mm")  
            </font>
        </font>
    </div>
    @ViewBag.sifre
</div>